<div class="container">
    <div class="col-md-12 thumbnail" style="padding-left: 50px; padding-right: 30px;">
        <div class="caption page-header" style="text-align: center">
            <h3>
                <span>{{blog.name}}</span>
            </h3>
            <div class="caption">
                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                {{blog.dateTime}}
                &nbsp; | &nbsp;
                <span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
                {{blog.channelName}}
                &nbsp; | &nbsp;
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                <a href="" class="" data-toggle="tooltip" data-placement="top" title="由admin发布">admin</a>
                &nbsp; | &nbsp;
                <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                7条评论
                &nbsp; | &nbsp;
                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                {{blog.views + " views"}}
            </div>
            <hr class="hr" noshade="noshade">
            <!--<div class="caption" ng-bind-html="model.content|htmlContent"></div>-->
        </div>
        <div [innerHtml]="blog.content"></div>
        <div class="bs-docs-section">
            <div class="bs-callout bs-callout-info">
                <p>原文地址 : <a routerLink="/view/{{blog.gid}}">http://www.oopmind.com/index/{{blog.gid}}</a></p>
                <p>本站遵循 : 署名-非商业性使用-相同方式共享 2.5 中国大陆 (CC BY-NC-SA 2.5)</p>
                <p>版权声明 : 原创文章转载时，请务必以超链接形式标明文章原始出处</p>
            </div>
        </div>
    </div>
</div>